# CMake build directories
/build/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile

# Compiled object files and libraries
*.o
*.a
*.so
*.dylib

# Executable files
/sdl

# IDE specific files
/.vscode/
/.idea/
/*.swp